body {
  background: linear-gradient(to right, #000000, #2c3e50);
}

.count-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  color: white;
}

.count-up h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.count-up p {
  font-size: 10rem;
  font-weight: bold;
}

.statistics {
  margin-top: 5rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2c3e50;
}

.links {
  margin-top: 5rem;
  text-align: center;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.links li {
  margin: 0 1rem;
}

.links a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .count-up h1 {
    font-size: 2rem;
  }
  
  .count-up p {
    font-size: 8rem;
  }
}